.card {
  min-width: 300px;
  width: 25%;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0);
}

.header {
  display: flex;
  justify-content: space-between
}

.body {
  background-color: rgba(255, 255, 255, 0.54);

}

.galleryName {
  font-weight: 600;
  font-size: 16pt;
}

.buttonGroup {
  display: flex;
  margin-top: 20px;
}

.button {
  margin-right: 15px;
  display: flex;
}

.svgContainer {
  scale: 0.4;
  translate: -5px 0px;
  margin-right: 5px;
  margin-left: 0px;
  padding: 0px;
  width: 10px;
  height: 45px;
}

.eyeContainer {
  scale: 0.35;
  translate: -5px 1px;
  margin-right: 8px;
  margin-left: 0px;
  padding: 0px;
  width: 10px;
  height: 45px;
}

.checkContainer {
  scale: 0.35;
  translate: -5px -1px;
  margin-right: 4px;
  margin-left: 2px;
  padding: 0px;
  width: 10px;
  height: 45px;
}