.card {
  min-width: 300px;
  width: 25%;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0);
}

.header {
  display: flex;
  justify-content: space-between
}

.body {
  background-color: rgba(255, 255, 255, 0.54);

}

.galleryName {
  font-weight: 600;
  font-size: 16pt;
}